body{
    margin: 0;
    background-color: whitesmoke;
    /* text-align: center; */
    display: flex;
    flex-direction: column;

    #layout-main{
        min-height: 100%;
    }

    a{
        color: cornflowerblue;
    }
}